@font-face {
    font-family: Caviar Dreams;
    src: url("caviardreams.ttf");
}

@font-face {
    font-family: Caviar Dreams;
    src: url("caviardreams_bold.ttf");
    font-weight: bold;
}

.input-color1 {
    position: absolute;
    top: 35%;
    left:14.5%;
  }
  
  .input-color1 input {
    padding-left: 20px;
  }
  .input-color1 .color-box {
    position: absolute;
    width: 635px;
    height: 420px;
    border-radius: 25px;
    background-color: #000000;
  }

.up1 {
    position: absolute;
    top: 22%;
    left: 30.36%;
    font-family: Caviar Dreams;
    font-size: 15.5ch;
    color: #ffffff;
  }
  .centered1 {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    
    box-shadow: inset 0 0 0 0 #000000;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0.37rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .centered1:hover {
    box-shadow: inset 900px 0 0 0 #ffffff;
    border-radius: 20px;
    color: black;
  }

.up2 {
    position: absolute;
    top: 40%;
    left: 18%;
    font-family: Caviar Dreams;
    font-size: 3ch;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .centered2 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-shadow: inset 0 0 0 0 #000000;
    color: #ffffff;
    margin: 0.25rem;
    padding: 0.1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .centered2:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #000000;
  }


  .up3 {
    position: absolute;
    top: 48%;
    left: 18.3%;
    font-weight: bold;
    font-family: Caviar Dreams;
    font-size: 3ch;
    color: rgb(0, 0, 0);
  }
  .centered3 {
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%);
    
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0.1ch;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .centered3:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #000000;
  }

  .up4 {
    position: absolute;
    top: 56%;
    left: 19.5%;
    font-weight: bold;
    font-family: Caviar Dreams;
    font-size: 3ch;
    color: rgb(0, 0, 0);
  }
  .centered4 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-shadow: inset 0 0 0 0 #000000;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0.1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .centered4:hover {
    box-shadow: inset 200px 0 0 0 #ffffff;
    color: #000000;
  }

  .name{
    position: absolute;
    top: 37%;
    left: 28%;
  }

  .email{
    position: absolute;
    top: 46%;
    left: 28%;
    font-family: Caviar Dreams;
  }  
  
  .message{
    position: absolute;
    top: 55%;
    left: 28%;
    font-family: Caviar Dreams;
    
  }

  .submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
    
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    position: absolute;
    top: 72.5%;
    left: 32.4%;
  }
  .submit {
    border-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
    
  .submit:hover {
    background-color: #ff0000;
  }

  .gifs1{
    position: absolute; 
    top: 14%;
    left: 53%;
  }

  @media screen and (max-width: 1280px){

    .input-color1 {
      position: absolute;
      top: 35%;
      left:3%;
    }
    
    .input-color1 input {
      padding-left: 20px;
    }
    .input-color1 .color-box {
      position: absolute;
      width: 635px;
      height: 420px;
      border-radius: 25px;
      background-color: #000000;
    }
  
  .up1 {
      position: absolute;
      top: 22%;
      left: 27%;
      font-family: Caviar Dreams;
      font-size: 15.5ch;
      color: #ffffff;
    }
    .centered1 {
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.37rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered1:hover {
      box-shadow: inset 900px 0 0 0 #ffffff;
      border-radius: 20px;
      color: rgb(0, 0, 0);
    }
  
  .up2 {
      position: absolute;
      top: 40%;
      left: 11%;
      font-family: Caviar Dreams;
      font-size: 3ch;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .centered2 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered2:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
  
    .up3 {
      position: absolute;
      top: 48%;
      left: 11.5%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered3 {
      position: absolute;
      top: 28%;
      left: 55%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1ch;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered3:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .up4 {
      position: absolute;
      top: 56%;
      left: 13.3%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered4 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered4:hover {
      box-shadow: inset 200px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .name{
      position: absolute;
      top: 37%;
      left: 22%;
    }
  
    .email{
      position: absolute;
      top: 46%;
      left: 22%;
      font-family: Caviar Dreams;
    }  
    
    .message{
      position: absolute;
      top: 55%;
      left: 22%;
      font-family: Caviar Dreams;
      
    }
  
    .submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 2rem;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      backface-visibility: hidden;
      
      border: 0.3rem solid transparent;
      border-radius: 3rem;
      position: absolute;
      top: 81%;
      left: 28.5%;
    }
    .submit {
      border-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
      
    .submit:hover {
      background-color: #ff0000;
    }
  
    .gifs1{
      position: absolute; 
      top: 14%;
      left: 53%;
    }

  }

  @media screen and (max-width:960px) {


    .input-color1 {
      position: absolute;
      top: 32%;
      left:13%;
    }
    
    .input-color1 input {
      padding-left: 20px;
    }
    .input-color1 .color-box {
      position: absolute;
      width: 620px;
      height: 420px;
      border-radius: 25px;
      background-color: #000000;
    }
  
  .up1 {
      position: absolute;
      top: 15%;
      left:50%;
      font-family: Caviar Dreams;
      font-size: 15.5ch;
      color: #ffffff;
    }
    .centered1 {
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.37rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered1:hover {
      box-shadow: inset 900px 0 0 0 #ffffff;
      border-radius: 20px;
      color: rgb(0, 0, 0);
    }
  
  .up2 {
      position: absolute;
      top: 36%;
      left: 23%;
      font-family: Caviar Dreams;
      font-size: 3ch;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .centered2 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered2:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
  
    .up3 {
      position: absolute;
      top: 41.9%;
      left: 23.7%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered3 {
      position: absolute;
      top: 28%;
      left: 55%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1ch;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered3:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .up4 {
      position: absolute;
      top: 48%;
      left: 26.6%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered4 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered4:hover {
      box-shadow: inset 200px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .name{
      position: absolute;
      top: 33.4%;
      left: 40%;
    }
  
    .email{
      position: absolute;
      top: 40.3%;
      left: 40%;
      font-family: Caviar Dreams;
    }  
    
    .message{
      position: absolute;
      top: 47%;
      left: 40%;
      font-family: Caviar Dreams;
      
    }
  
    .submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 2rem;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      backface-visibility: hidden;
      
      border: 0.3rem solid transparent;
      border-radius: 3rem;
      position: absolute;
      top: 61.5%;
      left: 49.5%;
    }
    .submit {
      border-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
      
    .submit:hover {
      background-color: #ff0000;
    }
  
    .gifs1{
      position: absolute; 
      top: 68.5%;
      left: 9%;
    }
  
  }
  
  @media screen and (max-width:576px) {


    .input-color1 {
      position: absolute;
      top: 42%;
      left:9%;
    }
    
    .input-color1 input {
      padding-left: 20px;
    }
    .input-color1 .color-box {
      position: absolute;
      width: 580px;
      height: 420px;
      border-radius: 25px;
      background-color: #000000;
    }
  
  .up1 {
      position: absolute;
      top: 18%;
      left:82.5%;
      font-family: Caviar Dreams;
      font-size: 15.5ch;
      color: #ffffff;
    }
    .centered1 {
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.37rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered1:hover {
      box-shadow: inset 900px 0 0 0 #ffffff;
      border-radius: 20px;
      color: rgb(0, 0, 0);
    }
  
  .up2 {
      position: absolute;
      top: 49%;
      left: 26.5%;
      font-family: Caviar Dreams;
      font-size: 3ch;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .centered2 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered2:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
  
    .up3 {
      position: absolute;
      top: 56.8%;
      left: 28%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered3 {
      position: absolute;
      top: 28%;
      left: 55%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1ch;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered3:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .up4 {
      position: absolute;
      top: 66%;
      left: 34%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered4 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered4:hover {
      box-shadow: inset 200px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .name{
      position: absolute;
      top: 46%;
      left: 58%;
    }
  
    .email{
      position: absolute;
      top: 55%;
      left: 58%;
      font-family: Caviar Dreams;
    }  
    
    .message{
      position: absolute;
      top: 64%;
      left: 58%;
      font-family: Caviar Dreams;
      
    }
  
    .submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 2rem;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      backface-visibility: hidden;
      
      border: 0.3rem solid transparent;
      border-radius: 3rem;
      position: absolute;
      top: 83.2%;
      left: 77%;
    }
    .submit {
      border-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
      
    .submit:hover {
      background-color: #ff0000;
    }
  
    .gifs1{
      position: absolute; 
      top: 120%;
      left: 0.1%;
    }
  
  }

  @media screen and (max-width:380px) {


    .input-color1 {
      position: absolute;
      top: 42%;
      left:9%;
    }
    
    .input-color1 input {
      padding-left: 20px;
    }
    .input-color1 .color-box {
      position: absolute;
      width: 580px;
      height: 420px;
      border-radius: 25px;
      background-color: #000000;
    }
  
  .up1 {
      position: absolute;
      top: 18%;
      left:82.5%;
      font-family: Caviar Dreams;
      font-size: 15.5ch;
      color: #ffffff;
    }
    .centered1 {
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.37rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered1:hover {
      box-shadow: inset 900px 0 0 0 #ffffff;
      border-radius: 20px;
      color: black;
    }
  
  .up2 {
      position: absolute;
      top: 49%;
      left: 26.5%;
      font-family: Caviar Dreams;
      font-size: 3ch;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .centered2 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered2:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
  
    .up3 {
      position: absolute;
      top: 56.8%;
      left: 28%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered3 {
      position: absolute;
      top: 28%;
      left: 55%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1ch;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered3:hover {
      box-shadow: inset 100px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .up4 {
      position: absolute;
      top: 66%;
      left: 34%;
      font-weight: bold;
      font-family: Caviar Dreams;
      font-size: 3ch;
      color: rgb(0, 0, 0);
    }
    .centered4 {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      box-shadow: inset 0 0 0 0 #000000;
      color: #ffffff;
      margin: 0 -.25rem;
      padding: 0.1rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .centered4:hover {
      box-shadow: inset 200px 0 0 0 #ffffff;
      color: #000000;
    }
  
    .name{
      position: absolute;
      top: 46%;
      left: 58%;
    }
  
    .email{
      position: absolute;
      top: 55%;
      left: 58%;
      font-family: Caviar Dreams;
    }  
    
    .message{
      position: absolute;
      top: 64%;
      left: 58%;
      font-family: Caviar Dreams;
      
    }
  
    .submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 2rem;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      backface-visibility: hidden;
      
      border: 0.3rem solid transparent;
      border-radius: 3rem;
      position: absolute;
      top: 91.2%;
      left: 77%;
    }
    .submit {
      border-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
      
    .submit:hover {
      background-color: #ff0000;
    }
  
    .gifs1{
      position: absolute; 
      top: 120%;
      left: 0.1%;
    }
  
  }